<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>shoppingmol</title>
</head>
<body>
    <div id="stateBar" class="bar state">
        <h3>Shoppingmol</h3>
        <% if (!isLogin) {%>
            <div>
                <h4 class="login" id="login" onclick="location.pathname = '/login'">
                    로그인
                </h4>
                <h4 class="login" id="signup" onclick="location.pathname = '/signup'">
                    회원가입
                </h4>
            </div>
        <%} else {%>
            <div>
                <h4 onclick="location.pathname = '/user/<%= user.id %>'"><%= user.name %></h4>
                <h4 onclick="location.pathname = '/buket/<%= user.id %>'">장바구니</h4>
            </div>
        <%}%>
    </div>
    <div id="catalogBar" class="bar">
        <div onclick="location.pathname = 'cpu'" id="cpu">CPU</div>
        <div onclick="location.pathname = 'ram'" id="ram">RAM</div>
        <div onclick="location.pathname = 'gpu'" id="gpu">GPU</div>
        <div onclick="location.pathname = 'mainboard'" id="mainboard">MAINBOARD</div>
        <div onclick="location.pathname = 'ssd'" id="SSD">SSD</div>
        <div onclick="location.pathname = 'hdd'" id="HDD">HDD</div>
        <div onclick="location.pathname = 'case'" id="case">CASE</div>
        <div onclick="location.pathname = 'cooler'" id="cooler">COOLER</div>
    </div>
    <div id="content">
