<%- include('./header.ejs') %>
<div>
    <form class="loginForm" action="/login" method="post">
        <small>아이디</small><input name="idid" type="text" placeholder="아이디를 입력하세요">
        <small>비밀번호</small><input name="pwpw" type="password" placeholder="비밀번호를 입력하세요">
        <input type="submit" value="login">
    </form>
</div>
<%- include('./footer.ejs') %>